/* Nommation : <type>_<subtype>-<variation> */

/*Important font*/
.koh-santepheap-thin {
  font-family: "Koh Santepheap", serif;
  font-weight: 100;
  font-style: normal;
}

.koh-santepheap-light {
  font-family: "Koh Santepheap", serif;
  font-weight: 300;
  font-style: normal;
}

.koh-santepheap-regular {
  font-family: "Koh Santepheap", serif;
  font-weight: 400;
  font-style: normal;
}

.koh-santepheap-bold {
  font-family: "Koh Santepheap", serif;
  font-weight: 700;
  font-style: normal;
}

.koh-santepheap-black {
  font-family: "Koh Santepheap", serif;
  font-weight: 900;
  font-style: normal;
}

/*1. Bases*/
body {
    margin: 0;
    padding : 0;

    font-family: 'Roboto', sans-serif;

    background: linear-gradient(107deg, #26314F 1.63%, #2B3758 17.13%, #2D3A5D 32.22%, #313F65 50.56%, #384874 78.71%, #44588E 95.17%, #5770B5 100.35%);
}
.container {
    width: 100%;
    height: calc(100vh - 72px);
}
.container-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
hr {}

/*2. Textes*/
    h1,h2,h3,h4,h5,h6,p {
        margin-block-start: 0;
        margin-block-end: 0;
    }
    /*Titres*/
    h1 {
        font-size: 32px;
        font-family: "Koh Santepheap";
    }
    h2 {
        font-size: 24px;
        font-family: "Koh Santepheap";
    }
    h3 {
        font-size: 18px;
        font-family: "Koh Santepheap";
    }
    h4 {
        font-size: 16px;
        font-family: "Koh Santepheap";
    }
    h5 {
        font-size: 14px;
        font-family: "Koh Santepheap";
    }
    h6 {
        font-size: 12px;
        font-family: "Koh Santepheap";
    }
    /*Textes classiques*/
    p {
        font-size: 14px;
    }
    a, a:visited, a:link, a:visited {
        font-size: 14px;
        font-weight: 700;
        
        background: var(--Links-color, linear-gradient(180deg, #09F 0%, #0069AE 190%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    label {
        font-size: 14px;

        margin-bottom: 15px;
    }
    /*Citations et autre*/
    blockquote {
        font-size: 12px;
    }
    cite {
        font-size: 12px;
    }
    
    /*Variations*/
    .text-black {
        color: #000000;
    }
    .text-white {
        color: #FFFFFF;
    }
    .important-black {
        background: linear-gradient(180deg, #000 0%, #999 190%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        font-weight: 700;
    }
    .important-white {
        background: var(--Important-text-color-2, linear-gradient(180deg, #FFF 0%, #999 190%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        font-weight: 700;
    }

/*3. Buttons and inputs*/
input {
    width: 480px;
    min-height: 50px;
    padding: 15px;

    border: none;
    border-radius: 8px 8px 0px 0px;
    border-bottom: 2px solid #FFF;

    background: rgba(255, 255, 255, 0.50);
}
input[type=checkbox] {
    height: 20px;
    width: 20px;
    min-height: 0;
}
input[type="submit"], input[type="button"], button {
    min-height: 40px;
    width: auto;
    padding: 15px 25px;

    border: none;
    border-radius: 12px;

    background: #FFF;

    font-size: 16px;
    font-weight: 700;

    cursor: pointer;
}
input[type="submit"]:hover, input[type="button"]:hover, button:hover {
    background: #EEE;
}
label.checkbox {
    display: block;
    position: relative;
    padding-left: 25px;
    padding-top: 1px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 0px;
}
label.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    
    border-radius: 4px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.50);
}
.checkbox:hover input ~ .checkmark {
    background: #0000;
}
.checkbox input:checked ~ .checkmark {
    background: #0000;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.checkbox input:checked ~ .checkmark:after {
    display: block;
}
.checkbox .checkmark:after {
    left: 5px;
    top: 2px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*4. Flex params */
.flex-dir-row-left {
    flex-direction: row;
}
.flex-dir-row-right {
    flex-direction: row-reverse;
}
.flex-dir-column-down {
    flex-direction: column;
}
.flex-dir-column-up {
    flex-direction: column-reverse;
}

/*5. Navigation bar*/
nav {
    width: 100%;
    height: 72px;

    display: grid;
    grid-template-columns: 320px auto 320px;

    background: #6D7FA8;
}
nav > section {
    margin: 0px 10px;
}
nav > .navigation_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;

    gap: 25px;
    padding: 0px 25px;
}
nav > .navigation_info {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;

    gap: 10px;
}
.nav-button {
    font-size: 16px;
    font-family: "Koh Santepheap";
    font-weight: 700;

    background: var(--Important-text-color-2, linear-gradient(180deg, #FFF 0%, #999 190%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav-button:hover {
    background: var(--Important-text-color-2, linear-gradient(180deg, #CCC 0%, #999 190%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav-active {
    background: var(--Active, linear-gradient(180deg, #263150 0%, #0069AE 190%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav-title:link, .nav-title:visited, .nav-title:hover, .nav-title:active {
    background: var(--Important-text-color-2, linear-gradient(180deg, #FFF 0%, #999 190%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 16px;
}

/*6. Cards*/
.cards {
    border-radius: 16px;

    background: rgba(255, 255, 255, 0.50);

    overflow: hidden;
}
.cards-login {
    width: 550px;
}
.cards-header {
    padding: 25px 30px;
    background: #FFF;
    text-align: center;
}
.cards-body {
    padding: 25px;
}

/*7. Login unique*/
.login_field {
    display: flex;
    flex-direction: column;

    text-align: center;

    margin: 15px 0;
}
.login_label {
    font-size: 16px;
}
.login_help {
    display: grid;
    grid-template-columns: 240px 240px;

    margin-bottom: 30px;
}
.login_lost_password {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}