<?php

    class Environnement {
        
        //Database
        protected $ENV_DB_HOST = "localhost";
        protected $ENV_DB_DATABASE = "orv_jdr";
        protected $ENV_DB_USER = "root";
        protected $ENV_DB_PASSWORD = "";

    }

?>